

pycache/
*.py[cod]
*$py.class


venv/
.venv/
env/
ENV/


*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/


.env
.env.*
!.env.example

.idea/
*.iml

face_recognizer.yml
train-pics
backend/ai/train-pics/

__pycache__/

backend/ai/models/*.pt
backend/ai/face_recognizer.yml
